@font-face {
    font-family: 'Oswald-Medium';
    src: url(/fonts/Oswald-Medium.ttf);
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url(/fonts/Oswald-Regular.ttf);
}



:root {
    --main-color: red;
}

li,a {
    color:#333;
    text-decoration: none;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}

li,ul {
    list-style: none;
}
.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
body {
    font-family: Oswald-Regular;
    font-weight: 400;
    font-size: 20px;
    color:#fff;
}

header {
    height: 696px;
    /* background-image: url(../img/index-background-desktop.png),-webkit-gradient(linear,left top,right top,color-stop(50%,#fff),color-stop(50%,#64a83c)); */
    /* background-image: url(../img/index-background-desktop.png),linear-gradient(to right,#fff 50%,#64a83c 50%); */
    background-image: url(/img/index-background-desktop.png);
    background-repeat: no-repeat;
    background-position: top right,center;
}
.upper {
    text-transform: uppercase;
} 
.header__li {
    padding-left: 35px;
    line-height: 30px;
    text-transform: uppercase;
}
.header__ul {
    display: flex;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -90px
}
.header__h1 {
    font-size: 60px;
    padding-top: 127px;
    margin: 0;
    padding-bottom: 40px;
}
.header__text {
    padding-bottom: 52px;
}
.left_titles {
    margin-left: 190px;
}
.header__logo {
}
.black {
    color:#000000;
}
.header__button {
    background-color: #68B738;
    padding: 14px 26px;
    color:white;
}
.header__right__can {
    position: absolute;
    left: 43%;
    top: 18%;
}
.header__link {
}

.header__link:hover {
    text-decoration: none;
    display: inline-block;
    border-bottom: 3px solid #fff;
    padding-bottom: 8px;
}

.main__img {
    position: absolute;
    left: 55%;
}

 /* Categories */
.categories {
    margin-top: 182px
}

.categories__cards {
    column-count: 2;
    column-gap: 80px;
}
.categories__card__left {
    width: 570px;
    background:#F2F2F2;
}
.categories__card__right {
    width: 570px;
    height: 374px;
    background:#F2F2F2;
}
.categories__logo {
}
.categories__title {
    font-size: 36px;
    line-height: 36px;
}
.categories__text {
    font-size: 16px;
    line-height: 24px;
}
.categories__button {
}